#/nfsshare  {{hostvars[inventory_hostname].ansible_default_ipv4.network}}/{{hostvars[inventory_hostname].ansible_default_ipv4.netmask}}(rw,sync,no_root_squash,no_subtree_check)
#/nfsshare  {{host_vars[inventory_hostname].ansible_default_ipv4.network}}(rw,sync,no_root_squash,no_subtree_check)
/nfsshare 192.168.100.152(rw,sync,no_root_squash,no_subtree_check)
/nfsshare 192.168.100.122(rw,sync,no_root_squash,no_subtree_check)
/nfsshare 192.168.100.125(rw,sync,no_root_squash,no_subtree_check)
/nfsshare 192.168.100.126(rw,sync,no_root_squash,no_subtree_check)
/nfsshare 192.168.100.124(rw,sync,no_root_squash,no_subtree_check)
/nfsshare 192.168.100.123(rw,sync,no_root_squash,no_subtree_check)
/nfsshare 192.168.100.148(rw,sync,no_root_squash,no_subtree_check)
/nfsshare 192.168.100.153(rw,sync,no_root_squash,no_subtree_check)
